<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'
import axios from 'axios'

export default {
  page: {
    title: '',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: {
    Layout,
  },
  data() {
    return {
      nomborTelefon: '',
      error: false,
      errorMessage: '',
      otpErrorMessage: '',
      userWakilId: '',
      disabledButton: true,
      second: 60,
      otpWakil: null,
    }
  },
  watch: {
    nomborTelefon() {
      if (this.nomborTelefon !== '' && this.nomborTelefon.length > 9) {
        this.disabledButton = false
      } else {
        this.disabledButton = true
      }
    },
  },
  methods: {
    async checkPhone() {
      this.disabledButton = true
      this.error = false
      this.errorMessage = false
      this.otpErrorMessage = ''

      let vm = this
      let i = 60
      function increment() {
        i--
        vm.second = i
      }
      const timer = setInterval(increment, 1000)

      setTimeout(() => {
        this.disabledButton = false
        clearInterval(timer)
      }, 60000)

      setTimeout(() => {
        this.otpGenerated = ''
      }, 300000)

      await axios
        .post(`${process.env.VUE_APP_API_URL}/semakan/getOtp`, {
          userPhoneNo: this.nomborTelefon,
        })
        .then((response) => {
          // console.log(response.data.data)
          if (response.data.data === 'OK') {
            this.error = false
            this.errorMessage = ''
            this.otpErrorMessage = ''
            alert('OTP telah dihantar ke Whatsapp nombor telefon: ' + this.nomborTelefon)
          }
          else {
            this.error = true
            this.errorMessage = 'No Telefon tidak dijumpai'
          }
        })
        .catch(function(error) {
          console.log(error)
        })
        .finally(() => {})
    },
    onlyNumber($event) {
      // console.log($event.keyCode); //keyCodes value
      let keyCode = $event.keyCode ? $event.keyCode : $event.which
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        $event.preventDefault()
      }
    },
    async validateUser() {
      await axios
        .post(`${process.env.VUE_APP_API_URL}/semakan/semakTelefon`, {
          userPhoneNo: this.nomborTelefon,
          otpWakil: this.otpWakil,
        })
        .then((response) => {
          // console.log(response.data)
          if (response.data.data === 'OK') {
            this.userWakilId = response.data.data2
            this.error = false
            this.errorMessage = ''
            this.otpErrorMessage = ''

            this.$router.push({
              name: 'senarai-order',
              params: {
                userWakilId: this.userWakilId,
              },
            })
          } else {
            this.error = true
            this.errorMessage = response.data.message
          }
        })
        .catch(function(error) {
          console.log(error)
        })
        .finally(() => {})
    },
  },
}
</script>

<template>
  <Layout>
    <b-form class="" @submit.prevent="validateUser">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <div class="card shadow p-0 p-lg-4" style="border-radius:13px;">
              <div class="card-body">
                <div class="row">
                  <div class="col mx-lg-5 mt-lg-4">
                    <b-form-group
                      id="labelNomborTelefon"
                      label="Nombor Telefon"
                      label-for="inputNomborTelefon"
                    >
                      <b-input-group class="mb-2">
                        <b-input-group-prepend is-text>
                          +6
                        </b-input-group-prepend>
                        <b-form-input
                          id="inputNomborTelefon"
                          v-model="nomborTelefon"
                          type="tel"
                          placeholder="Contoh: 0125215414"
                          minlength="10"
                          maxlength="14"
                          required
                          @keypress="onlyNumber"
                          @paste.prevent
                        ></b-form-input>
                      </b-input-group>
                      <span v-if="error" style="color:red;font-weight:bold;">{{
                      errorMessage
                    }}</span>
                    </b-form-group>                    
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-12 col-md ml-lg-5">
                    <b-form-group
                      id="labelOtpWakil"
                      label="OTP"
                      label-for="inputOtpWakil"
                    >
                      <b-form-input
                        id="inputOtpWakil"
                        v-model="otpWakil"
                        placeholder="Contoh: 123456"
                        minlength="6"
                        maxlength="6"
                        required
                        @keypress="onlyNumber"
                        @paste.prevent
                      ></b-form-input>
                      <span v-if="error" style="color:red;font-weight:bold;">{{
                        otpErrorMessage
                      }}</span>
                    </b-form-group>
                  </div>
                  <div class="col-12 col-md-3 mx-lg-5">
                    <b-form-group>
                      <label for="otp" class="d-none d-md-block" style="visibility: hidden">otp</label>
                      <button
                        class="btn col rounded-pill OTP-button"
                        style="cursor: pointer"
                        :disabled="disabledButton"
                        @click="checkPhone"
                      >
                        Mohon OTP
                      </button>
                    </b-form-group>
                  </div>
                </div> -->
                <!-- <div class="row">
                  <div class="col mx-lg-5 mt-lg-1">
                    <div class="p-2 rounded text-wrap text-center OTP-border">
                      Jika anda tidak menerima OTP, sila tekan semula selepas
                      {{ second }} saat
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col col-md-8 mx-auto my-2 my-lg-4">
                    <b-button
                      type="submit"
                      class="col mt-2 mr-1 p-3 rounded-pill submitButton"
                    >
                      <span>Teruskan</span>
                      <feather
                        type="arrow-right"
                        class="ml-2"
                        style="vertical-align: middle;"
                      ></feather>
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-form>
  </Layout>
</template>
<style>
.OTP-border {
  border: 2px solid #ebeef9;
}

.formSubtitleColor {
  color: #8493e1;
  font-weight: bold;
}

.submitButton {
  background-color: #791f06;
  color: white;
  font-weight: bold;
  border: 0px none;
}

.submitButton:hover {
  background-color: #9e2808;
}

label {
  color: #1b275a;
  font-weight: bold;
}

.OTP-button {
  background-color: #8e9ce4;
  color: white;
  font-weight: bold;
}

.OTP-button:hover {
  background-color: #adb7eb;
  color: white;
  font-weight: bold;
}
</style>
