<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'
import axios from 'axios'
import moment from 'moment'
import VueHtml2pdf from 'vue-html2pdf'
import CryptoJS from 'crypto-js'

export default {
  page: {
    title: '',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: {
    Layout,
    VueHtml2pdf,
  },
  data() {
    return {
      cloudfrontURL: process.env.VUE_APP_URL_CLOUDFRONT,
      receiptDetails: [],
      tempahanDetails: [],
      resitDateCreated: '',
      noTempahan: null,
    }
  },
  created() {
    // Decrypt
    var reb64 = CryptoJS.enc.Hex.parse(this.$route.params.tempahanNo.toString())
    var bytes = reb64.toString(CryptoJS.enc.Base64)
    var decrypt = CryptoJS.AES.decrypt(
      bytes,
      `${process.env.VUE_APP_AES_SECRET_KEY}`
    )
    var noTempahanDecrypted = decrypt.toString(CryptoJS.enc.Utf8)
    this.noTempahan = noTempahanDecrypted
    this.getResitDetails()
  },
  
  methods: {
    async getResitDetails() {
      await axios
        .get(`${process.env.VUE_APP_API_URL}/semakan/butiranResit`, {
          params: {
            noTempahan: this.noTempahan,
          },
        })
        .then((response) => {
          // console.log(response.data.data)
          this.receiptDetails = response.data.data[0]
          this.resitDateCreated = moment(
            this.receiptDetails.resitDateCreated
          ).format('YYYY-MM-DD hh:mm:ss')
        })
        .catch(function(error) {
          console.log(error)
        })
        .finally(() => {
          this.getTempahanDetails()
        })
    },
    async getTempahanDetails() {
      await axios
        .get(`${process.env.VUE_APP_API_URL}/semakan/butiranTempahan`, {
          params: {
            noTempahan: this.noTempahan,
          },
        })
        .then((response) => {
          // console.log(response.data)
          this.tempahanDetails = response.data.data
        })
        .catch(function(error) {
          console.log(error)
        })
        .finally(() => {})
    },
    generateReport() {
      this.$refs.html2Pdf.generatePdf()
    },
    async shareReceipt() {
      await axios
        .post(`${process.env.VUE_APP_API_URL}/semakan/kongsiResit`, {
          NoTempahan: this.noTempahan,
        })
        .then((response) => {
          console.log(response.data.data)
          if (response.data.data2 === 'OK') {
            alert(
              'Pautan resit telah dihantar ke nombor telefon: ' +
                response.data.data
            )
          } else {
            alert(
              'Pautan resit tidak berjaya dihantar ke nombor telefon: ' +
                response.data.data
            )
          }
        })
        .catch(function(error) {
          console.log(error)
        })
        .finally(() => {})
    },
  },
}
</script>
<style>
.blueColor {
  color: #1b275a;
  font-weight: 800;
}

.orangeColor {
  color: #f7a325;
  font-weight: 800;
}

.greenColor {
  color: #219653;
  font-weight: 800;
}

.footer {
  position: relative;
  left: 0;
  bottom: -60px;
  width: 100%;
}
</style>
<template>
  <Layout>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card shadow" style="border-radius: 13px">
            <div class="card-body p-0">
              <!-- header -->
              <div class="row align-items-center text-center">
                <div class="col">
                  <span class="logo-lg">
                    <img :src="`${cloudfrontURL}/logo.png`" alt height="150" />
                  </span>
                  <h4
                    v-if="receiptDetails.resitPaymentStatus === 'Success'"
                    class="text-primary font-weight-bold"
                  >
                    Pembayaran Berjaya!</h4
                  >
                  <h4
                    v-if="
                      receiptDetails.resitPaymentStatus === 'Pending Payment'
                    "
                    class="text-warning font-weight-bold"
                    >Pembayaran Pending!</h4
                  >
                  <h4
                    v-if="receiptDetails.resitPaymentStatus === 'Failed'"
                    class="text-danger font-weight-bold"
                  >
                    Pembayaran Gagal!</h4
                  >
                  <h5 class="text-info font-weight-bold">{{
                    receiptDetails.resitNo
                  }}</h5>
                  <h6 class="text-muted font-weight-bold">No Resit</h6>
                </div>
              </div>
              <!-- end header -->

              <!-- start resit summary -->
              <div class="row">
                <div class="col">
                  <hr style="background-color: #d8def3; height: 1px" />
                  <div class="m-3 m-md-5">
                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">No Ref Transaksi</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="blueColor">{{ receiptDetails.resitRefNo }}</p>
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <!-- <div class="row d-flex justify-content-center"> -->
                    <!-- no tempahan -->
                    <!-- <div class="col-6 text-left">
                          <p class="font-weight-bold">No FPX</p>
                        </div> -->
                    <!-- no tempahan -->

                    <!-- nama -->
                    <!-- <div class="col-6 text-right">
                          <p class="blueColor">20220223165812</p>
                        </div> -->
                    <!-- nama -->
                    <!-- </div> -->
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">No Order</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="orangeColor">{{ noTempahan }}</p>
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">Jumlah Bayaran</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="greenColor"
                          >RM{{
                            parseFloat(receiptDetails.resitAmountPaid).toFixed(
                              2
                            )
                          }}</p
                        >
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- caj transaksi -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">Caj Transaksi</p>
                      </div>
                      <!-- caj transaksi -->

                      <!-- caj -->
                      <div class="col-6 text-right">
                        <p class="greenColor"
                          >RM{{
                            parseFloat(
                              receiptDetails.resitAmountPaid -
                                receiptDetails.resitAmountNet
                            ).toFixed(2)
                          }}</p
                        >
                      </div>
                      <!-- caj -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">Tarikh & Masa</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="blueColor">{{ resitDateCreated }}</p>
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">Kaedah Pembayaran</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="blueColor">{{
                          receiptDetails.resitPaymentMethod
                        }}</p>
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->

                    <!-- start row -->
                    <div class="row d-flex justify-content-center">
                      <!-- no tempahan -->
                      <div class="col-6 text-left">
                        <p class="font-weight-bold">Jenis Ibadah</p>
                      </div>
                      <!-- no tempahan -->

                      <!-- nama -->
                      <div class="col-6 text-right">
                        <p class="blueColor">{{
                          receiptDetails.tempahanIbadahType
                        }}</p>
                      </div>
                      <!-- nama -->
                    </div>
                    <!-- end row -->
                  </div>
                  <hr style="background-color: #d8def3; height: 1px" />
                </div>
              </div>
              <!-- end resit summary -->

              <!-- start resit details -->
              <div class="m-2 m-md-4">
                <b-card
                  v-for="(td, index) in tempahanDetails"
                  :key="index"
                  style="border-radius: 13px"
                  class="border border-secondary"
                >
                  <div class="row align-items-center">
                    <div class="col">
                      <div class="row">
                        <span class="text-muted font-weight-bold">
                          {{ tempahanDetails[index].liveStokNo }}
                        </span>
                      </div>
                      <div class="row">
                        <span class="text-muted mt-1 font-weight-bold">
                          {{ tempahanDetails[index].tempahanDetailsHaiwanType }}
                          {{ tempahanDetails[index].tempahanDetailsBhgnCount }}
                          {{ tempahanDetails[index].tempahanDetailsBhgnType }}
                        </span>
                      </div>
                      <div class="row">
                        <span
                          v-if="
                            tempahanDetails[index].implementerNegara ===
                              'Kemboja 1'
                          "
                          class="text-muted mt-1 font-weight-bold"
                        >
                          {{ tempahanDetails[index].implementerKawasan }}
                          (Kemboja)
                        </span>
                        <span v-else class="text-muted mt-1 font-weight-bold">
                          {{ tempahanDetails[index].implementerNegara }}
                          ({{ tempahanDetails[index].implementerKawasan }})
                        </span>
                      </div>
                    </div>
                    <div class="col text-center">
                      <span
                        class="text-primary font-weight-bold"
                        style="font-size: 16px"
                      >
                        {{ tempahanDetails[index].wakilPesertaName }}
                      </span>
                    </div>
                    <div class="col text-center">
                      <span class="text-muted font-weight-bold"
                        >RM{{
                          parseFloat(
                            tempahanDetails[index].tempahanDetailsPrice
                          ).toFixed(2)
                        }}</span
                      >
                    </div>
                    <div class="col-1">
                      <span class="text-muted">1</span>
                    </div>
                  </div>
                </b-card>

                <!-- start button -->
                <div
                  class="
                        row
                        text-center
                        d-flex
                    justify-content-center
                    m-4 m-md-5
                      "
                >
                  <div class="col-12 col-md-6 col-lg-4">
                    <b-button
                      id="btn-new-event"
                      style="background-color: #1b275a"
                      class="shadow btn btn-lg p-3 col rounded-pill"
                      @click="generateReport"
                    >
                      <feather
                        type="download"
                        class="mr-2"
                        style="vertical-align: middle"
                      ></feather>
                      <span class="font-weight-bold">Muat Turun Resit</span>
                    </b-button>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
                    <b-button
                      id="btn-new-event"
                      style="background-color: #1b275a"
                      class="shadow btn btn-lg p-3 col rounded-pill"
                      @click="shareReceipt"
                    >
                      <feather
                        type="share-2"
                        class="mr-2"
                        style="vertical-align: middle;"
                      ></feather>
                      <span class="font-weight-bold">Kongsi Resit</span>
                    </b-button>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
                    <a
                      id="btn-new-event"
                      style="background-color: #1b275a"
                      class="shadow btn btn-lg p-3 col rounded-pill"
                      target="_blank"
                      href="https://t.me/korbanikhlasdotcom"
                    >
                      <feather
                        type="message-circle"
                        class="mr-2"
                        style="vertical-align: middle;"
                      ></feather>
                      <span class="font-weight-bold">Telegram</span>
                    </a>
                  </div>
                </div>
                <!-- end button -->
              </div>
              <!-- end resit details -->

              <!-- start blue card -->
              <div
                class="col p-2 text-center"
                style="background-color: #1b275a"
              >
                <span style="color: white; font-size: 16px">
                  Sijil penyertaan akan dihantar melalui Emel dan SMS yang telah
                  didaftar selepas ibadah anda selesai. Sila semak.
                </span>
              </div>
              <!-- end blue card -->

              <!-- start blue card -->
              <div
                class="col p-2 text-center rounded-bottom"
                style="background-color: #d8def3"
              >
                <span style="color: #4f4f4f; font-size: 16px">
                  Segala pertanyaan atau permasalahan boleh menghubungi pihak
                  kami di nombor yang diberikan +603-89265954 <br />
                  ataupun boleh pergi ke laman web kami dan facebook
                  <span style="color: #f7a325"
                    >www.facebook.com/yayasanikhlas</span
                  >
                </span>
              </div>
              <!-- end blue card -->
            </div>
          </div>
        </div>
      </div>

      <vue-html2pdf
        ref="html2Pdf"
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="true"
        :paginate-elements-by-height="1600"
        :filename="noTempahan"
        :pdf-quality="2"
        :manual-pagination="true"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
      >
        <section slot="pdf-content">
          <div class="container">
            <div class="row">
              <div class="col mx-0  ">
                <div class="card shadow" style="border-radius: 13px">
                  <div class="card-body p-0">
                    <!-- header -->
                    <section class="pdf-item">
                      <div class="row align-items-center text-center">
                        <div class="col">
                          <span class="logo-lg">
                            <img
                              :src="`${cloudfrontURL}/logo.png`"
                              alt
                              height="150"
                            />
                          </span>
                          <h4
                            v-if="
                              receiptDetails.resitPaymentStatus === 'Success'
                            "
                            class="text-primary font-weight-bold"
                            >Pembayaran Berjaya!</h4
                          >
                          <h4
                            v-if="
                              receiptDetails.resitPaymentStatus ===
                                'Pending Payment'
                            "
                            class="text-warning font-weight-bold"
                            >Pembayaran Pending!</h4
                          >
                          <h4
                            v-if="
                              receiptDetails.resitPaymentStatus === 'Failed'
                            "
                            class="text-danger font-weight-bold"
                            >Pembayaran Gagal!</h4
                          >
                          <h5 class="text-info font-weight-bold">{{
                            receiptDetails.resitNo
                          }}</h5>
                          <h6 class="text-muted font-weight-bold">No Resit</h6>
                        </div>
                      </div>
                    </section>
                    <!-- end header -->

                    <!-- start resit summary -->
                    <section class="pdf-item">
                      <div class="row">
                        <div class="col mx-0 mx-md-5">
                          <hr style="background-color: #d8def3; height: 1px" />
                          <div class="m-3 m-md-5">
                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold">No Ref Transaksi</p>
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="blueColor">{{
                                  receiptDetails.resitRefNo
                                }}</p>
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->

                            <!-- start row -->
                            <!-- <div class="row d-flex justify-content-center"> -->
                            <!-- no tempahan -->
                            <!-- <div class="col-6 text-left">
                            <p class="font-weight-bold">No FPX</p>
                          </div> -->
                            <!-- no tempahan -->

                            <!-- nama -->
                            <!-- <div class="col-6 text-right">
                            <p class="blueColor">20220223165812</p>
                          </div> -->
                            <!-- nama -->
                            <!-- </div> -->
                            <!-- end row -->

                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold">No Order</p>
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="orangeColor">{{ noTempahan }}</p>
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->

                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold">Jumlah Bayaran</p>
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="greenColor"
                                  >RM{{
                                    parseFloat(
                                      receiptDetails.resitAmountPaid
                                    ).toFixed(2)
                                  }}</p
                                >
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->

                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold">Tarikh & Masa</p>
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="blueColor">{{ resitDateCreated }}</p>
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->

                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold"
                                  >Kaedah Pembayaran</p
                                >
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="blueColor">{{
                                  receiptDetails.resitPaymentMethod
                                }}</p>
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->

                            <!-- start row -->
                            <div class="row d-flex justify-content-center">
                              <!-- no tempahan -->
                              <div class="col-6 text-left">
                                <p class="font-weight-bold">Jenis Ibadah</p>
                              </div>
                              <!-- no tempahan -->

                              <!-- nama -->
                              <div class="col-6 text-right">
                                <p class="blueColor">{{
                                  receiptDetails.tempahanIbadahType
                                }}</p>
                              </div>
                              <!-- nama -->
                            </div>
                            <!-- end row -->
                          </div>
                          <hr style="background-color: #d8def3; height: 1px" />
                        </div>
                      </div>
                    </section>
                    <!-- end resit summary -->

                    <!-- start resit details -->
                    <section class="pdf-item">
                      <div
                        v-for="(td, index) in tempahanDetails"
                        :key="index"
                        class="m-2 m-md-4"
                      >
                        <div v-if="index === 3" class="html2pdf__page-break" />
                        <b-card
                          v-if="index === 3"
                          style="border-radius: 13px"
                          class="mt-5 border border-secondary"
                        >
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{ tempahanDetails[index].liveStokNo }}
                                </span>
                              </div>
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsHaiwanType
                                  }}
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsBhgnCount
                                  }}
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsBhgnType
                                  }}
                                </span>
                              </div>
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{ tempahanDetails[index].implementerNegara }}
                                  ({{
                                    tempahanDetails[index].implementerKawasan
                                  }})
                                </span>
                              </div>
                            </div>
                            <div class="col text-center">
                              <span
                                class="text-primary font-weight-bold"
                                style="font-size: 16px"
                              >
                                {{ tempahanDetails[index].wakilPesertaName }}
                              </span>
                            </div>
                            <div class="col text-center">
                              <span class="text-muted font-weight-bold"
                                >RM{{
                                  parseFloat(
                                    tempahanDetails[index].tempahanDetailsPrice
                                  ).toFixed(2)
                                }}</span
                              >
                            </div>
                            <div class="col-1">
                              <span class="text-muted">1</span>
                            </div>
                          </div>
                        </b-card>
                        <b-card
                          style="border-radius: 13px"
                          class="border border-secondary"
                        >
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{ tempahanDetails[index].liveStokNo }}
                                </span>
                              </div>
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsHaiwanType
                                  }}
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsBhgnCount
                                  }}
                                  {{
                                    tempahanDetails[index]
                                      .tempahanDetailsBhgnType
                                  }}
                                </span>
                              </div>
                              <div class="row">
                                <span class="text-muted font-weight-bold">
                                  {{ tempahanDetails[index].implementerNegara }}
                                  ({{
                                    tempahanDetails[index].implementerKawasan
                                  }})
                                </span>
                              </div>
                            </div>
                            <div class="col text-center">
                              <span
                                class="text-primary font-weight-bold"
                                style="font-size: 16px"
                              >
                                {{ tempahanDetails[index].wakilPesertaName }}
                              </span>
                            </div>
                            <div class="col text-center">
                              <span class="text-muted font-weight-bold"
                                >RM{{
                                  parseFloat(
                                    tempahanDetails[index].tempahanDetailsPrice
                                  ).toFixed(2)
                                }}</span
                              >
                            </div>
                            <div class="col-1">
                              <span class="text-muted">1</span>
                            </div>
                          </div>
                        </b-card>
                      </div>
                    </section>
                    <!-- end resit details -->

                    <!-- <div class="html2pdf__page-break" /> -->

                    <section class="pdf-item">
                      <!-- start blue card -->
                      <div
                        class="col p-2 text-center"
                        style="background-color: #1b275a"
                      >
                        <span style="color: white; font-size: 12px">
                          Sijil penyertaan akan dihantar melalui Emel dan SMS
                          yang telah didaftar selepas ibadah anda selesai. Sila
                          semak.
                        </span>
                      </div>
                      <!-- end blue card -->

                      <!-- start blue card -->
                      <div
                        class="col p-2 text-center rounded-bottom"
                        style="background-color: #d8def3"
                      >
                        <span style="color: #4f4f4f; font-size: 12px">
                          Segala pertanyaan atau permasalahan boleh menghubungi
                          pihak kami di nombor yang diberikan +603-89265954
                          ataupun boleh pergi ke laman web kami dan facebook
                          <span style="color: #f7a325"
                            >www.facebook.com/yayasanikhlas</span
                          >
                        </span>
                      </div>
                      <!-- end blue card -->
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </vue-html2pdf>
    </div>
  </Layout>
</template>
