<script>
import appConfig from "@src/app.config";
import Layout from "@layouts/main";
import axios from "axios";
import CryptoJS from "crypto-js";

export default {
  page: {
    title: "",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: {
    Layout,
  },
  data() {
    return {
      orderList: [],
    };
  },
  created() {
    // Decrypt
    var reb64 = CryptoJS.enc.Hex.parse(
      this.$route.params.userWakilId.toString()
    );
    var bytes = reb64.toString(CryptoJS.enc.Base64);
    var decrypt = CryptoJS.AES.decrypt(
      bytes,
      `${process.env.VUE_APP_AES_SECRET_KEY}`
    );
    var userWakilIdEncrypted = decrypt.toString(CryptoJS.enc.Utf8);
    this.getOrderList(userWakilIdEncrypted);
  },
  methods: {
    async getOrderList(userWakilIdEncrypted) {
      await axios
        .get(`${process.env.VUE_APP_API_URL}/semakan/senaraiTempahan`, {
          params: {
            userWakilId: userWakilIdEncrypted,
          },
        })
        .then((response) => {
          this.orderList = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {});
    },
    showButiranTempahan(tempahanNo) {
      // Encrypt
      var b64 = CryptoJS.AES.encrypt(
        tempahanNo.toString(),
        `${process.env.VUE_APP_AES_SECRET_KEY}`
      ).toString();
      var e64 = CryptoJS.enc.Base64.parse(b64);
      var eHex = e64.toString(CryptoJS.enc.Hex);
      var tempahanNoEncrypted = eHex;

      this.$router.push({
        name: "butiran-tempahan",
        params: {
          noTempahan: tempahanNoEncrypted,
        },
      });
    },
  },
};
</script>
<style>
.formSubtitleColor {
  color: #8493e1;
  font-weight: bold;
}
</style>
<template>
  <Layout>
    <b-form>
      <div class="row mt-5 mx-lg-5">
        <div class="col p-1">
          <b-card class="shadow p-0 p-lg-4" style="border-radius: 13px;">
            <h5 class="formSubtitleColor">Senarai Order</h5>
            <div
              v-for="(order, index) in orderList"
              :key="index"
              class="card-body p-0"
              @click="
                showButiranTempahan(order.tempahanNo, order.tempahanStatus)
              "
            >
              <div
                class="row mt-3 align-items-center"
                style="border: 1px solid #d8def3; border-radius: 13px;"
              >
                <div class="col-12 col-md">
                  <h6 class="text-muted">No Order</h6>
                  <h5 class="text-info font-weight-bold">
                    {{ order.tempahanNo }}
                  </h5>
                  <h6 class="text-muted">No Resit</h6>
                  <h5 v-if="order.resitNo" class="text-primary">
                    {{ order.resitNo }}
                  </h5>
                  <h5 v-else class="text-primary">-</h5>
                </div>
                <div class="col-12 col-md text-left">
                  <h5 class="text-primary font-weight-bold">
                    {{ order.userFullname }}
                  </h5>
                </div>
                <div class="col-12 col-md text-left">
                  <h5>
                    RM{{ parseFloat(order.tempahanTotalPrice).toFixed(2) }}
                  </h5>
                </div>
                <div class="col-12 col-md text-left">
                  <h6 v-if="order.tempahanStatus === 'Pending Order'">
                    {{ new Date(order.tempahanCreatedDate).toLocaleString() }}
                  </h6>
                  <h6 v-else>
                    {{ new Date(order.resitDateUpdated).toLocaleString() }}
                  </h6>
                  <h5
                    v-if="order.tempahanStatus === 'Success'"
                    class="text-success font-weight-bold"
                  >
                    Pembayaran Berjaya
                  </h5>
                  <h5
                    v-if="order.tempahanStatus === 'Cancel Order'"
                    class="text-danger font-weight-bold"
                  >
                    Pembayaran Batal
                  </h5>
                  <h5
                    v-if="order.tempahanStatus === 'Failed'"
                    class="text-danger font-weight-bold"
                  >
                    Pembayaran Gagal
                  </h5>
                  <h5
                    v-if="order.tempahanStatus === 'Pending Order'"
                    class="text-warning font-weight-bold"
                  >
                    Belum Selesai
                  </h5>
                </div>
                <div class="col-12 col-md-1 mt-3 mt-md-0 text-center">
                  <b-button
                    ><span class="my-auto">
                      Lanjut
                    </span>
                  </b-button>
                </div>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </b-form>
  </Layout>
</template>
