<script>
import { authComputed } from '@state/helpers'

export default {
  components: {},
  props: {
    user: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    isMenuOpened: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      cloudfrontURL: process.env.VUE_APP_URL_CLOUDFRONT,
    }
  },
  computed: {
    ...authComputed,
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
  },
}
</script>

<template>
  <!-- Topbar Start -->
  <div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
    <div class="container-fluid">
      <!-- LOGO -->
      <a href="/" class="navbar-brand mr-0 mr-md-2 logo">
        <span class="logo-lg">
          <img
            :src="`${cloudfrontURL}/Logo-Korban-Ikhlas-Colour.png`"
            alt
            height="50"
            class="ml-3"
          />
        </span>
        <span class="logo-sm">
          <img
            :src="`${cloudfrontURL}/Logo-Korban-Ikhlas-Colour.png`"
            alt
            height="60"
            class="ml-3"
          />
        </span>
      </a>

      <ul
        class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0"
      >
        <li id="back-button" class="d-sm-block">
          <a
            href="javascript:void(0);"
            class="nav-link right-bar-toggle toggle-right"
            @click="goBack"
          >
            <feather type="arrow-left" class="toggle-right"></feather>
          </a>
          <b-tooltip target="back-button" placement="left">Back</b-tooltip>
        </li>
        <li id="semak-status" class="d-sm-block">
          <b-button
            :to="{ name: 'semak-status' }"
            pill
            variant="secondary"
            class="mt-3 mr-3 right-bar-toggle toggle-right"
          >
            Semak Status
          </b-button>
          <b-tooltip target="semak-status" placement="top">
            Semak Status
          </b-tooltip>
        </li>
      </ul>
    </div>
  </div>
  <!-- end Topbar -->
</template>

<style lang="scss">
.noti-scroll {
  height: 220px;
}
.ps > .ps__scrollbar-y-rail {
  width: 8px !important;
  background-color: transparent !important;
}
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
  width: 6px !important;
}
.button-menu-mobile {
  outline: none !important;
}

.btn-secondary {
  background-color: #8e9ce4;
  border-color: #8493e1;
}

.btn-secondary:hover {
  background-color: #adb7eb;
  border-color: #adb7eb;
}

@media (max-width: 600px) {
  /* Styles for screens up to 600px wide */
  .logoo {
    margin-left: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  /* Styles for screens between 601px and 1200px wide */
  .logoo {
    margin-left: 20px;
  }
}

@media (min-width: 1201px) {
  /* Styles for screens larger than 1200px wide */
  .logoo {
    margin-left: 30px;
  }
}
</style>
