<script>
import appConfig from "@src/app.config";
import Layout from "@layouts/main";

import Pendaftaran from "@/src/components/pendaftaran";
import PemilihanHaiwan from "@/src/components/pemilihan-haiwan";
import Pembayaran from "@/src/components/pembayaran";
import Resit from "@/src/components/resit";

import { FormWizard, TabContent } from "vue-form-wizard";
import { EventBus } from "../../../../main";

/**
 * Dashboard-1 Compoent
 */
export default {
  page: {
    title: "",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: {
    Layout,
    Pendaftaran,
    PemilihanHaiwan,
    Pembayaran,
    Resit,
    FormWizard,
    TabContent,
  },
  props: [],
  data() {
    return {
      maklumatPendaftaran: [],
      maklumatTempahan: [],
      tempahanNumber: "",
      latestTempahanId: "",
      setupKorbanId: "",
      organizationId: "",
    };
  },
  created() {
    // this.$router.push({
    //   name: 'Semak-Status-External'
    // })
    EventBus.$on(
      "simpanDataPendaftaran",
      (maklumatPendaftaran, setupKorbanId, organizationId) => {
        this.maklumatPendaftaran = maklumatPendaftaran;
        this.setupKorbanId = setupKorbanId;
        this.organizationId = organizationId;
      }
    );
    EventBus.$on(
      "simpanDataTempahan",
      (maklumatTempahan, tempahanNumber, latestTempahanId) => {
        this.tempahans = maklumatTempahan;
        this.tempahanNumber = tempahanNumber;
        this.latestTempahanId = latestTempahanId;
      }
    );
  },
  mounted() {
    if (this.$route.query.paid === "true") {
      this.lastPage();
    }
  },
  methods: {
    nextPage(next) {
      if (next) {
        this.$refs.wizard.nextTab();
      }
    },
    backPage(back) {
      if (back) {
        this.$refs.wizard.prevTab();
      }
    },
    lastPage() {
      this.$refs.wizard.changeTab(0, 3);
    },
  },
};
</script>
<style>
.vue-form-wizard .wizard-tab-content {
  min-height: 100px;
  padding: 0px;
}
.vue-form-wizard .wizard-nav-pills a,
.vue-form-wizard .wizard-nav-pills li {
  cursor: not-allowed;
  pointer-events: none;
}
</style>
<template>
  <Layout>
    <div class="row mt-3">
      <div class="col p-0">
        <form-wizard ref="wizard" color="#ADB7EB">
          <tab-content title="Pendaftaran">
            <Pendaftaran @nextPage="nextPage($event)"> </Pendaftaran>
          </tab-content>
          <tab-content title="Pemilihan Haiwan">
            <PemilihanHaiwan @nextPage="nextPage($event)"> </PemilihanHaiwan>
          </tab-content>
          <tab-content title="Pembayaran">
            <Pembayaran
              @nextPage="nextPage($event)"
              @backPage="backPage($event)"
            >
            </Pembayaran>
          </tab-content>
          <tab-content title="Resit">
            <Resit @nextPage="nextPage($event)"> </Resit>
          </tab-content>
          <button slot="prev" class="d-none"></button>
          <button slot="next" class="d-none"></button>
          <button slot="finish" class="d-none"></button>
        </form-wizard>
      </div>
    </div>
  </Layout>
</template>
