<script>
export default {}
</script>

<template>
  <div class="account-pages my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-8">
          <div class="text-center">
            <div>
              <img src="@assets/images/not-found.png" alt class="img-fluid" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mt-3">404</h1>
          <p class="text-muted mb-5" style="font-size: 20px;">
            Halaman ini tidak ditemui.
            <br />Anda mungkin tersalah taip alamat atau halaman mungkin telah berpindah.
          </p>
          <router-link to="/" class="btn btn-lg mt-4" style="background-color: #8E9CE4;">
          Kembali ke Laman
          </router-link>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end account-pages -->
</template>
